* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#editor-body {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* width: 100%; */
  background-color: beige;
  min-height: 800px;
  /* height: max-content; */
}

#editor-container {
  flex: 4;
  background-color: #fff;
  object-fit: none;
  object-position: top left;
  border: solid 1px;
  box-shadow: #333 2px 0px 5px;
}

.drawing-canvas {
  background-color: #fff;
  /* border: solid 1px; */
}

#sidepanel {
  flex: 1;
  background-color: azure;
  border: solid 1px;
  box-shadow: #333 2px 0px 5px;
  text-align: center;
}

/* ---------------------------------------------- Node ---------------------------------------*/
.block {
  background-color: antiquewhite;
}

/* ---------------------------------------------- Main Menu ----------------------------------*/
.nav-container {
  display: flex;
}

#navbar {
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  min-height: 40px;
  border-bottom: #333 solid 3px;
  position: sticky;
  z-index: 1000;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 18px;
  /* padding-right: 15px; */
}

/* ---------------------------------------------- Footer ------------------------------------*/
#footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ---------------------------------------------- Tool Box ----------------------------------*/
#tool-box {
  background-color: beige;
  width: 100%;
  padding: 10px;
}

.stencil {
  background-color: antiquewhite;
  border: solid 1px;
  padding: 5px;
  margin: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
